*{
	font-family: $font;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 0 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;


}

.fa-bars{
	margin-top: 15px;
	color: $Navyblue;
}

.sideNav {
    height: 100%; 
    width: 0; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: rgba(20, 80, 80, 0.3); 
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    a {
	    padding: 8px 8px 8px 32px;
	    text-decoration: none;
	    font-size: 25px;
	    color: #818181;
	    display: block;
	    transition: 0.3s
   		a:hover, .offcanvas a:focus{
 	    	color: #f1f1f1;
		}
	}
	.closebtn {
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 36px;
	    margin-left: 50px;
	}
}

#profile-options a{
	margin-left: 30px;
}



	

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sideNav {padding-top: 15px;}
    .sideNav a {font-size: 18px;}
}