.light-theme{
	font-family: $font;
	
	.fa-bars{
		margin-top: 15px;
		color: $Greenwater;
	}
	.navigation-page{
		padding: 15px 10px;
		.navbar-brand{
			float: right;
			height: 70px;
		}
		
		.btn{
			line-height: 2.5;
			border-radius: 25px;
			padding:7px;
			border:none;
		}
	}
	.card-block{
		background: whitesmoke;
	}

	.btn-x-drk{
		background-color: $Navyblue;
	}
	.btn-x-lgh{
		background-color: $Greenwater;
	}
	.sideNav {
		height: 100vh; 
		width: 0; 
		position: fixed;
		z-index: 1; 
		top: 0;
		left: 0;
		background-color: $Greenwater; 
		overflow-x: hidden;
		padding-top: 60px;
		transition: 0.5s;    
		a {
			padding: 20px 8px 8px 32px;
			text-decoration: none;
			font-size: 20px;
			color: $Navyblue;
			display: block;
			transition: 0.3s
		}
		a:hover, .offcanvas a:focus{
			color: $orange;
		}
		.closebtn {
			position: absolute;
			top: 0;
			right: 25px;
			font-size: 36px;
			margin-left: 50px;
		}
		.navbar-brand{
			float: right;
			margin-top: 48vh;
			height: 55px;
		}
	}
	#profile-options a{
		margin-top: 30px;
	}
	@media screen and (max-height: 450px) {
		.sideNav {padding-top: 15px;}
		.sideNav a {font-size: 18px;}
	}
	#sel1{
		width:100%;
	}
	#modal-dialog{
		background-color: #fff; 
	}
	a{
		display: block;
	}
	/*modal*/ .modal{
		background-color: #fff;
		.btn-success{
			background-color: $Greenwater;
			border-color: transparent;;
			background-color: #3cc;
			margin: 10px -15px;
			border-radius: 100px;
			position: absolute;
			right: 20px;
		}
		h3{
			color: $orange;
		}
		.header-modal, .details{
			padding: 0px 10px;
			p{
				color: grey;
			}
			h5{
				color: $orange;
			}
			h6{
				color: $Greenwater;
				font-style: italic;
				font-size: 15px;
			}
		}
	}
	.modal.in .modal-dialog {
		width: 100%;
		margin: 0;
	}
	.fade.in {
		padding-right: 0px!important;
	}
	#facebook,
	#btnGroup button{
		margin-top: 13%;
	}
	label{
		color:$orange;
	}
	#sel1{
		color:$orange;
	}
	#text1{
		color:$Navyblue;
	}
	.card-block{
		border-right: 5px solid $Greenwater;	
		border-left: 5px solid $Greenwater;
		h3{
			color:$orange;
		}
		h5{
			color:$Navyblue;
		}
	}
	.btn-info{
		background-color:$Greenwater;
		color:#fff;
		.footer .container {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			padding-right: 15px;
			padding-left: 15px;
		}
	}
	// xperience style
	#tcb-testimonial-carousel {
		margin-top: 30px;
	}
	#tcb-testimonial-carousel a {
		color: $Greenwater;
	}
	#tcb-testimonial-carousel .text-brand {
		color: $Greenwater;
	}
	#tcb-testimonial-carousel .carousel-indicators .active {
		background: $Greenwater;
	}
	#tcb-testimonial-carousel .no-margin {
		margin: 0;
	}
	#tcb-testimonial-carousel .carousel-indicators li {
		border: 1px solid $orange;
	}
	#tcb-testimonial-carousel .carousel-control {
		color: $orange;
		width: 5%;
	}
	#tcb-testimonial-carousel .carousel-control:hover,
	#tcb-testimonial-carousel .carousel-control:focus {
		color: $Greenwater;
	}
	#tcb-testimonial-carousel .carousel-control.left,
	#tcb-testimonial-carousel .carousel-control.right {
		background-image: none;
	}
	#tcb-testimonial-carousel .item {
		padding: 15px 40px;
		background: #f8f8f8;
	}
	#tcb-testimonial-carousel .media-object {
		margin: auto;
	}
	@media screen and (max-width: 768px) {
		#tcb-testimonial-carousel .media-object {
			margin-bottom: 15px;
		}
	}
	.questions{

		.btn{
			background-color: $Greenwater;
			width: 300px;
			height: 50px;
			border-radius: 0px;
			margin-top:20px;
			color: white;
			font-size: 20px;
		}


	}

	#about{
		color:$orange;
		margin-top:3%;

	}


}
.dark-theme{
	font-family: $font;
	background-color: #000; 
	color: $orange;
	.fa-bars{
		margin-top: 15px;
		color: $orange;
	}
	.navigation-page{
		padding: 15px 10px;
		.navbar-brand{
			float: right;
			height: 70px;
		}
		.btn{
			line-height: 2.5;
			border-radius: 25px;
			padding:7px;
			border:none;
		}
	}

	.card-block{
		background: rgba(53, 84, 84, 0.5);
	}
	.text-muted{
		color: whitesmoke;
	}
	
	.btn-x-drk{
		background-color: $Navyblue;
	}
	.btn-x-lgh{
		background-color: $Greenwater;
	}
	.sideNav {
		height: 100vh; 
		width: 0; 
		position: fixed;
		z-index: 1; 
		top: 0;
		left: 0;
		background-color: $orange; 
		overflow-x: hidden;
		padding-top: 60px;
		transition: 0.5s;    
		a {
			padding: 20px 8px 8px 32px;
			text-decoration: none;
			font-size: 20px;
			color: $white;
			display: block;
			transition: 0.3s
		}
		a:hover, .offcanvas a:focus{
			color: $Greenwater;
		}
		.closebtn {
			position: absolute;
			top: 0;
			right: 25px;
			font-size: 36px;
			margin-left: 50px;
		}
		.navbar-brand{
			float: right;
			margin-top: 48vh;
			height: 55px;
		}
	}
	#profile-options a{
		margin-top: 30px;
	}
	@media screen and (max-height: 450px) {
		.sideNav {padding-top: 15px;}
		.sideNav a {font-size: 18px;}
	}
	#sel1{
		width:100%;
	}
	#modal-dialog{
		background-color: #fff; 
	}
	a{
		display: block;
	}
	/*modal*/ .modal{
		background-color: #fff;
		.btn-success{
			background-color: $orange;
			border-color: transparent;;
			background-color: #3cc;
			margin: 10px -15px;
			border-radius: 100px;
			position: absolute;
			right: 20px;
		}
		h3{
			color: $Greenwater;
		}
		.header-modal, .details{
			padding: 0px 10px;
			p{
				color: grey;
			}
			h5{
				color: $Greenwater;
			}
			h6{
				color: $orange;
				font-style: italic;
				font-size: 15px;
			}
		}
	}
	.modal.in .modal-dialog {
		width: 100%;
		margin: 0;
	}
	.fade.in {
		padding-right: 0px!important;
	}
	#facebook{
		margin-top:13%;
	}
	label{
		color:$Greenwater;
	}
	#sel1{
		color:$Greenwater;
	}
	#text1{
		color:$white;
	}
	.card-block{
		border-right: 5px solid $orange;	
		border-left: 5px solid $orange;
		h3{
			color:$Greenwater;
		}
		h5{
			color:$white;
		}
	}
	.btn-info{
		background-color:$orange;
		color:#fff;
		.footer .container {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			padding-right: 15px;
			padding-left: 15px;
		}
	}
	// xperience style
	#tcb-testimonial-carousel {
		margin-top: 30px;
	}
	#tcb-testimonial-carousel a {
		color: $white;
	}
	#tcb-testimonial-carousel .text-brand {
		color: $white;
	}
	#tcb-testimonial-carousel .carousel-indicators .active {
		background: $white;
	}
	#tcb-testimonial-carousel .no-margin {
		margin: 0;
	}
	#tcb-testimonial-carousel .carousel-indicators li {
		border: 1px solid $orange;
	}
	#tcb-testimonial-carousel .carousel-control {
		color: $orange;
		width: 5%;
	}
	#tcb-testimonial-carousel .carousel-control:hover,
	#tcb-testimonial-carousel .carousel-control:focus {
		color: $white;
	}
	#tcb-testimonial-carousel .carousel-control.left,
	#tcb-testimonial-carousel .carousel-control.right {
		background-image: none;
	}
	#tcb-testimonial-carousel .item {
		padding: 15px 40px;
		background: $orange;
		color: $white;
	}
	#tcb-testimonial-carousel .media-object {
		margin: auto;
	}
	@media screen and (max-width: 768px) {
		#tcb-testimonial-carousel .media-object {
			margin-bottom: 15px;
		}
	}
}



.btn-info{
	background-color:$Greenwater;
	color:#fff;
.footer .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
}


//emoji
#avatar{
	body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rate {
	text-align: center;
	width: 200px;
	height: 200px;
	ouline: thin solid lightgray;
}
.emoji {
	font-size: 120px;
	height: 170px;
	line-height: 170px;
}

input {
	cursor: ew-resize;
}
}

.questions{

	.btn{
	background-color: $Greenwater;
	width: 300px;
	height: 50px;
	border-radius: 0px;
	margin-top:20px;
	color: white;
	font-size: 20px;
	}

#about{
	color:$orange;
	margin-top:3%;

}
.me{
	img{
		width:60%;
		margin-top:5%;
		margin-left:20%;
		margin-bottom:5%;
	}
}
}

/*upsi*/
.upsi{
	text-align: center;
	h1{
		color: $Greenwater;
		font-size: 25px
	}
	h2{
		color: grey;
		font-size: 15px;
		margin: 0;
		padding: 0;
	}
	img{
		vertical-align: middle;
	    width: 25%;
	    text-align: center;
	    margin: 0 auto;
	}
}
