*{
	font-family: $font;
}


.fa-bars{
	margin-top: 15px;
	color: $Navyblue;
}
.nav-page{
	padding: 20px 10px;
	.navbar-brand{
		float: right;
		height: 70px;
	}
}


.sideNav {
    height: 100vh; 
    width: 0; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: $Greenwater; 
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;    
    a {
	    padding: 20px 8px 8px 32px;
	    text-decoration: none;
	    font-size: 20px;
	    color: $Navyblue;
	    display: block;
	    transition: 0.3s
	}

	a:hover, .offcanvas a:focus{
 	    color: $orange;
	}
	.closebtn {
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 36px;
	    margin-left: 50px;
	}
	.navbar-brand{
	float: right;
	margin-top: 48vh;
	height: 55px;
	}
}

#profile-options a{
	margin-top: 30px;
}

@media screen and (max-height: 450px) {
    .sideNav {padding-top: 15px;}
    .sideNav a {font-size: 18px;}
 }

#sel1{
	width:80%;
}

#infomodal{
	background-color: #fff; 
}
a{
	display: block;
}

.footer .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

